// application.scss
$navbar-padding-y: 24px; // Set a custom navbar padding to increase the size of the navbar
$primary: rgb(234, 100, 42); // Set the primary variable to a custom one
$secondary: rgb(66, 66, 66); 
$dark: rgb(221, 221, 221); // Set the dark variable to a custom one
$link-color:rgba(0, 115, 255, 0.548); // Also change the link-color to use the same color

.document-thumbnail {
    img {
      width: 100px;
      height: 100px;
      // You can add additional styles if needed, such as border-radius, margin, etc.
    }
  }

.index_title a{
    font-size: 1.2em;
    font-weight: bold;
    color: $primary;
  }

.index_title a:hover{
    color: rgb(234, 155, 124);
  }

  body .navbar-logo {
    background: transparent url(https://dewey.tailorbrands.com/production/brand_version_mockup_image/234/8741575234_bec6951c-c96f-4600-978a-1a399f767060.png?cb=1702332763) no-repeat top left;
    background-size: contain;
    height: 80px;  // Adjust the height as needed
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 200px;  // Adjust the width as needed
  }

@import 'blacklight';