<h1>Historical Conflicts</h1>
<p>Search for more than 9000 battles, wars and other of the most relevent conflicts in the world history</p>

<div id="map-container">
  <iframe src="<%= map_path %>" width="100%" height="500px" frameborder="0"></iframe>
</div>